body{
    background-image:url("back.jpg");
    background-size: cover;

}
.btn-toolbar{
    margin-left: 39%;
    margin-top: 50px;
}
h1{
    text-align: center;
    color: lightgoldenrodyellow;
    margin-top: 15%;
}
div{
    text-align: center;
}
a{
    color: lightgoldenrodyellow;
}